**/node_modules
node_modules/
**/build/*
**/**/build
**/**/dist
\#*\#
.\#*
*.swp
*.actual
*.config
**/.DS_Store
.settings
**/.vs
**/.vscode
!**/.vscode/tasks.json
.idea
yarn.lock
yarn-error.log
package-lock.json